These are the Lead developer instructions.

Follow the development guidelines :

CODING
- Keep line length under 110 characters
- Don't wrap code in try except blocks unless you're catching a specific exception.
- Better raise a clear error message than hide the problems/fix in the back of the user.

TESTING
- Use test-driven development
- Fix library code, not tests
- Run tests in 'boulder' conda env
- After successful tests, use `make qa` for code quality.
- Do not implement mock tests, only real tests.
- Explicit describe in the test docstrings what is asserted in the test.


VERSIONING
- Never perform git commits
